<!DOCTYPE html>
<html>

    <head>
        <!-- Head generic Content -->
        <% include ../partials/headContent %>

        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            .bgimg {
                background-image: url('/static/imgs/fond.jpg');
                background-attachment: fixed;
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>

        <!-- My AJAX -->
        <script src="/static/js/ajax/ajaxDiseaseInfo.js"></script>

        <!-- My DOM scripts -->
        <script src="/static/js/dom/domDiseaseInfo.js"></script>

        <!--Libs-->
        <script src="/static/libs/Chart.min.js"></script>
    </head>
    <body>

        <div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
            <div class="w3-display-topleft w3-padding-large w3-xlarge">
                Logo
            </div>
            <div class="w3-row">
                <div class="w3-col w3-left w3-container" style="width:150px"></div>
                <div class="w3-col w3-right w3-container" style="width:150px"></div>
                <div class="w3-container w3-rest" style="display:block;margin-right:auto;margin-left:auto">

                    <div class="w3-panel w3-white w3-border">
                        <h1><b><%= disease.name %></b></h1>
                    </div>
                    <div class="w3-panel w3-white w3-border">
                    <%for(var i = 0; i<textualInformations.length; i++){%>
                        <h2><b><%=textualInformations[i].title%>:</b></h2>
                        <p><%= textualInformations[i].content%></p>
                        <div class="w3-container">
                            <p class="w3-col s11 m11 l11"></p>
                            <p class="w3-col s1 m1 l1" >
                                Source:
                                <a href="<%=textualInformations[i].sourceLink%>" target="_blank">
                                    <%= textualInformations[i].sourceName%>
                                </a>
                            </p>
                        </div>
                        <%}%>
                    </div>
                    <div class="w3-panel w3-white w3-border">
                        <h2><b>Statistics: </b></h2>
                        <div class="w3-panel w3-white w3-border chart-container">
                            <canvas id="graphPublicationsPerYear" orphanetID="<%=disease.orphanetID%>"></canvas>
                        </div>
                    </div>
                    <h4>Go back to <a href="/">homepage</a></h4>
                </div>
            </div>

            <div class="w3-display-bottomleft w3-padding-large">
                Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
            </div>
        </div>

    </body>
</html>